{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shopping cart{% endblock %}
{% block extra_subheader %}{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                          </tr>
                        </thead>
                        {% if bag_items %}
                        <tbody>
                        {% for item in bag_items %}
                        
                        <tr>
                            <th>
                                <a class="text-decoration-none text-black" href="{% url 'product_detail' item.item_id  %}">{{ item.product.name }}</a> <br>
                                <form class="form" action="{% url 'remove_from_bag' product.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-dark mt-5" value="Remove item">
                                </form>
                            </th>
                            <td>{{ item.product.price }}kr</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price}}kr</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>Products: {{ total }}kr</p>
                    <p>Delivery: {{ delivery }}kr</p>
                    <p class="fw-bold">Total: {{ grand_total|floatformat:2 }}kr</p>
                    

                    {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    {% endif %}
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">Keep shopping?</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %} 


{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}
