{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shopping cart{% endblock %}
{% block extra_subheader %}{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% if bag_items %} 
                        {% for item in bag_items %}
                            <p>{{ item.product.name }}</p>
                        {% endfor %}
                        <div class="table-responsive"></div>
                    {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">Keep shopping</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %} 