{% extends "base.html" %}
{% load static %}

{% block extra_header %}Messages{% endblock %}
{% block extra_subheader %}Admin - See messages{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
       <div class="container">
            <div class="col">
                <!-- About us card -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">

                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Message</th>
                                    </tr>
                                </thead>
                                {% for message in message %}
                                <tbody>
                                    <tr>
                                        <td>{{ message.name }}</td>
                                        <td>{{ message.email }}</td>
                                        <td>{{ message.message }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                            <a href="{% url 'home' %}"><div class="btn btn-outline-dark">Home page</div></a>
                        </div>
                    </div>
                </div> 
            </div>
       </div>
    </section>  
    

{% endblock %} 