{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_header %}Profile{% endblock %}
{% block extra_subheader %}{{ profile }}{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="col d-md-flex d-inline-item">
                <div class="row col-10 col-md-5">
                    <p class="text-muted mt-2">User information</p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button class="btn btn-success mt-2">Save information</button>
                    </form>
                </div>
                <div class="row col-10 col-md-5">
                    <p class="text-muted mt-2">Order history</p>
                    {{ orders }}
                </div>
            </div>
        </div>
    </section>


{% endblock %} 


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
