{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_header %}Checkout{% endblock %}
{% block extra_subheader %}See your order below{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="{% url 'bag' %}">
                        <button class="btn btn-outline-dark text-decoration-none mb-4">
                            Back to bag
                        </button>
                    </a>
                    <p class="text-black">Order Summary ({{ product_count }})</p>
                    <div class="row col-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <th>{{ item.product.name }}</th>
                                <td>{{ item.product.price | floatformat:2 }}kr</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    <div class="row text-black">
                        <div class="col-10">
                            <p class="my-0">Products: {{ total | floatformat:2 }}kr</p>
                            <p class="my-0">Delivery: {{ delivery | floatformat:2 }}kr</p>
                            <p class="my-0 mb-2">Total: {{ grand_total | floatformat:2 }}kr</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <p class="text-muted">Please fill out the form below to complete your order</p>
                        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                            {% csrf_token %}
                            <fieldset class="rounded px-3 mb-5">
                                <legend class="fieldset-label small text-black px-2 w-auto">Details</legend> <br>
                                {{ order_form.full_name }}
                                {{ order_form.email }}
                            </fieldset>
                            <fieldset class="rounded px-3 mb-5">
                                <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend> <br>
                                {{ order_form.phone_number }} <br>
                                {{ order_form.street_address1 }}
                                {{ order_form.street_address2 }} <br>
                                {{ order_form.town_or_city }}
                                {{ order_form.county }} <br>
                                {{ order_form.postcode }}
                                {{ order_form.country }} <br>
                            </fieldset>

                            <fieldset class="px-3">
                                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </fieldset>
                            <div class="submit-button text-right mt-5 mb-2">                    
                                <a href="{% url 'bag' %}" class="btn btn-outline-dark">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="font-weight-bold">Back to bag</span>
                                </a>
                                <button id="submit-button" class="btn btn-success">
                                    <span class="font-weight-bold">Complete Order</span>
                                </button>
                                <p class="small text-danger my-0">
                                    <span>Your card will be charged <strong>{{ grand_total|floatformat:2 }}kr</strong></span>
                                </p>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="loading-overlay">
        <h1 class="text-black text center mt-80" id="loading">
            Checking card and customer info...
        </h1>
    </div>

{% endblock %} 


{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
