{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_header %}Order placed{% endblock %}
{% block extra_subheader %}See order confirmation below{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="col-12">
                <div class="row text-center">
                    <h2>Thank you!</h2>
                    <p>An email will be sent to <strong>{{ order.email }}</strong>.</p>
                    <p>Your order number is: {{ order.order_number }}</p>
                    <p></p>
                </div>
                <div class="row col-12 ">
                    <table class="table">
                        <thead>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Price per item</th>
                        </thead>
                        {% for item in order.lineitems.all %}
                        <tbody>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}kr</td>
                        </tbody>
                        {% endfor %}
                    </table>
                    <p>Total cost (with shipping): {{order.grand_total}}</p>
                </div>
                <div class="row"></div>
                <a href="{% url 'home' %}">
                    <button class="btn btn-outline-dark text-decoration-none mb-4">
                        Home page
                    </button>
                </a>
            </div>
        </div>
    </section>

{% endblock %} 
