{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_header %}Order placed{% endblock %}
{% block extra_subheader %}See order confirmation below{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="col-12">
                <div class="row text-center">
                    <h2>Thank you!</h2>
                    <p>An email will be sent to <strong>{{ order.email }}</strong>.</p>
                    <p>Your order number is: {{ order.order_number }}</p>
                    <p></p>
                </div>
                <div class="row col-12 ">
                    <table class="table">
                        <thead>
                            <th>Product name</th>
                            <th>Quantity</th>
                            <th>Price per item</th>
                        </thead>
                        {% for item in order.lineitems.all %}
                        <tbody>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.price }}kr per product</td>
                        </tbody>
                        {% endfor %}
                    </table>
                    <p>Total cost (with shipping): {{order.grand_total}}</p>
                </div>
                <div class="row">
                    <div class="col col-11">
                        <small class="text-muted">Customer information</small>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Full Name:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.full_name }}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Address 1:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                    {% if order.street_address2 %}
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Address 2:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.street_address1 }}</p>
                    </div>
                    {% endif %}
                    {% if order.county %}
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">County:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.county }}</p>
                    </div>
                    {% endif %}
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Town or City:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.town_or_city }}</p>
                    </div>
                    {% if order.postcode %}
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black fw-bold">Postal Code:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    {% endif %}
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Country:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.country }}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black fw-bold">Phone Number:</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'home' %}">
                        <div class="btn btn-outline-dark text-decoration-none mb-4 mt-2">
                            Home page
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %} 
