:root {
    --blue-green: #06dbdb;
    --light-green: #02c3bd;
    
    --rubik-font: 'Rubik Bubbles', cursive;
    --istok-web-font: 'Istok Web', sans-serif;
}



nav {
    background-color: var(--light-green);
}

.navbar-brand {
    font-family: var(--rubik-font);
}

.choices-nav {
    font-family: var(--istok-web-font);
}