:root {
    --dark-green: #056161;
    --light-green: #02c3bd;
    
    --rubik-font: 'Rubik Bubbles', cursive;
    --istok-web-font: 'Istok Web', sans-serif;
}



nav {
    background-color: var(--light-green);
}

.navbar-brand, .header-text {
    font-family: var(--rubik-font);
}

.choices-nav {
    font-family: var(--istok-web-font);
}

.page-header {
    background-color: var(--dark-green);
}


.remove-item {
    cursor: pointer;
}