:root {
    --dark-green: #056161;
    --light-green: #02c3bd;
    
    --rubik-font: 'Rubik Bubbles', cursive;
    --istok-web-font: 'Istok Web', sans-serif;
}



nav {
    background-color: var(--light-green);
    width: 100vw;
}

.navbar-brand, .header-text {
    font-family: var(--rubik-font);
}

.choices-nav {
    font-family: var(--istok-web-font);
}

.page-header {
    background-color: var(--dark-green);
}

footer {
    width: 100vw;
    margin-left: 0;
}


.remove-item {
    cursor: pointer;
}

/* Toast css. Used for messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


.StripeElement,
.stripe-style-input, 
#profie-update-form,
input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4%;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}
