<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link text-black" href="{% url 'articles' %}">Articles</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Shop
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'products' %}?category=Adventure,Romance,Fantasy,History,Nature,Religion" class="dropdown-item">All Products</a>
                    <a href="{% url 'products' %}?category=Adventure" class="dropdown-item">Adventure</a>
                    <a href="{% url 'products' %}?category=Romance" class="dropdown-item ">Romance</a>
                    <a href="{% url 'products' %}?category=Fantasy" class="dropdown-item ">Fantasy</a>
                    <a href="{% url 'products' %}?category=History" class="dropdown-item">History</a>
                    <a href="{% url 'products' %}?category=Nature" class="dropdown-item">Nature</a>
                    <a href="{% url 'products' %}?category=Religion" class="dropdown-item">Religion</a>
                    <hr class="dropdown-divider">
                    <a href="" class="dropdown-item">
                        {% if request.user.is_authenticated %}
                            <a href="" class="dropdown-item">Wishlist</a>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </a>
            <ul class="dropdown-menu">
                <li>
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                    <a href="" class="dropdown-item">Article Management</a>
                    <a href="" class="dropdown-item">Messages</a>
                    <hr class="dropdown-divider">
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </li>
            </ul>
        </li>
    </ul>
</div>
<form class="content-align-center" method="GET" action="{% url 'products' %}">
    <div class="input-group w-100">
        <input class="form-control border border-black" type="text" name="q" placeholder="Search our site">
        <div class="input-group-append">
            <button class="form-control btn btn-dark rounded-0" type="submit">
                    Search
            </button>
        </div>
    </div>
</form>
<form class="d-flex d-none d-md-block">
    <button class="btn btn-outline-dark " type="submit">
        <a class="text-black text-decoration-none" href="{% url 'bag' %}">
        Cart
        <span class="badge bg-dark text-white ms-1 rounded-pill">
            {% if total %}
                {{ total|floatformat:2 }}kr
            {% else %}
                0,00kr
            {% endif %}
        </span>
        </a>
    </button>
</form>
</div>
</nav>