{% extends "base.html" %}
{% load static %}

{% block extra_header %}Articles{% endblock %}
{% block extra_subheader %}What might interest you?{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                {% for article in articles %}
                <div class="card col-3  m-3">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder text-black">{{ article.title }}</h5>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-2" href="#">Read more</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %} 