{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shop{% endblock %}
{% block extra_subheader %}Find the books you need at Dino's{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                {% for product in products %}
                <div class="card col-3  m-3">
                    <!-- Product image-->
                    {% if product.image %}
                    <a href="">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top" src="{{MEDIA_URL}}noimage.PNG" alt="{{ product.name }}"/>
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <!--Product price-->
                            {{ product.price }}kr
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-2" href="#">More info</a></div>
                        {% if product.stock > 0 %}
                        <div class="text-center"><a class="btn btn-success mt-auto" href="#">Add to cart</a></div>
                        {% else %}
                        <div class="text-center"><a class="btn btn-secondary mt-auto" href="#">Out of stock</a></div>
                        {% endif %}

                        {% if request.user.is_authenticated %}
                        <div class="text-center"><a class="btn btn-outline-dark mt-2" href="#">Add to wishlist</a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %} 