{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shop{% endblock %}
{% block extra_subheader %}Find the books you need at Dino's{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                {% for category in current_categories %}
                <a class="text-muted text-center inline-item m-1 mt-0" href="{% url 'products' %}?category={{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {% for product in products %}
                <div class="card col-md-3 col-10 m-3">
                    <!-- Product image-->
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{MEDIA_URL}}noimage.PNG" alt="{{ product.name }}"/>
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <p class="fw-normal text-muted">{{ product.author }}</p>
                            <!--Product price-->
                            {{ product.price }}kr
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-2" href="{% url 'product_detail' product.id %}">More info</a></div>
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row mb-2">
                                <div class="col d-flex justify-content-center">
                                    {% if product.stock > 0 %}
                                    <input type="submit" class="btn btn-success mb-0" value="Add to Bag">
                                    {% else %}
                                    <button class="btn btn-secondary mb-0" href="#">Out of stock</button>
                                    {% endif %}
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>

                        {% if request.user.is_authenticated %}
                        <div class="text-center"><a class="btn btn-outline-dark mt-0" href="#">Add to wishlist</a></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %} 