{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shop{% endblock %}
{% block extra_subheader %}Find the books you need at Dino's{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="d-flex flex-row justify-content-center">
                {% for category in current_categories %}
                <a class="text-muted text-center inline-item m-1 mt-0" href="{% url 'products' %}?category={{ category.name }}">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="row justify-content-center">
                {% for product in products %}
                <div class="card col-md-3 col-10 m-3">
                    <!-- Product image-->
                    {% if product.image_place %}
                    <a class="mt-2" href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{MEDIA_URL}}/books/{{ product.image_place }}" alt="{{ product.name }}"/>
                    </a>
                    {% elif product.image_url %}
                    <a class="mt-2" href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{MEDIA_URL}}/books/{{ product.image_url }}" alt="{{ product.name }}"/>
                    </a>
                    {% elif product.image %}
                    <a class="mt-2" href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{MEDIA_URL}}/books/{{ product.image }}" alt="{{ product.name }}"/>
                    </a>
                    {% else %}
                    <a class="mt-2" href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top" src="{{MEDIA_URL}}noimage.PNG" alt="{{ product.name }}"/>
                    </a>
                    {% endif %}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            <p class="fw-normal text-muted">{{ product.author }}</p>
                            <!--Product price-->
                            {{ product.price }}kr
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto mb-2" href="{% url 'product_detail' product.id %}">More info</a></div>
                        {% if product.stock > 0 %}
                        <p class="text-muted text-center">In stock</p>
                        {% else %}
                        <p class="text-muted text-center">Out of stock</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %} 