{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shop{% endblock %}
{% block extra_subheader %}Find the books you need at Dino's{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="image-container my-5">
                        <!-- Product image-->
                        {% if product.image_place %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/books/{{ product.image_place }}" alt="{{ product.name }} image"/>
                        {% elif product.image_url %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/books/{{ product.image_url }}" alt="{{ product.name }} image"/>
                        {% elif product.image %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}/books/{{ product.image }}" alt="{{ product.name }} image"/>
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{MEDIA_URL}}noimage.PNG" alt="{{ product.name }} image"/>
                        {% endif %}
                    </div>
                </div>
                <div class=" col-10 col-md-5">
                    <div class="product-details-container mb-5 mt-md-5">
                        <h4 class="mb-0 fw-bold">{{ product.name }}</h4>
                        <p class="mb-2 text-muted">{{ product.author }}</p>
                        {% if request.user.is_superuser %}
                        <div>
                            <a href="{% url 'edit_products' product.id %}"><div class="btn btn-outline-dark">Edit</div></a>
                            <a href="{% url 'delete_products' product.id %}"><div class="btn btn-danger">Delete</div></a>
                        </div>
                        {% endif %}
                        <p class="lead mb-2 text-left font-weight-bold">{{ product.price }}kr</p>
                        <p class="mb-0 text-left font-weight-normal">{{ product.description|linebreaks|safe }}</p>
                        {% if product.category %}
                        <p class="small mt-1 mb-0 text-muted">Category: {{ product.category }}</p>
                        {% endif %}
                        <p class="small mt-1 mb-0 text-muted">Review score: {{ average }} </p>
                        <div class="mt-2">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row mb-2">
                                    <div class="col-12">
                                        <p class="mt-3"><strong>Quantity:</strong></p>
                                        <div class="form-group col-10 col-md-7 col-lg-4">
                                            <div class="input-group input-group-{{ product.id }}">
                                                <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                                    name="quantity" value="1" min="1" max="99"
                                                    data-item_id="{{ product.id }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col{% if s %}-12 mt-2{% endif %}">
                                        <a href="{% url 'products' %}?category=Adventure,Romance,Fantasy,History,Nature,Religion"><div class="btn btn-outline-dark">Keep shopping</div></a>
                                        {% if product.stock > 0 %}
                                        <input type="submit" class="btn btn-success mt-5" value="Add to Bag">
                                        {% else %}
                                        <button class="btn btn-secondary mt-5 mr-2">Out of stock</button>
                                        {% endif %}
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
                <div class="row col-10">
                    <form action="{% url 'product_detail' product.id %}" method="POST" id="review-form" class="form mb-5">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5 col-11 col-md-6">
                            <legend class="fieldset-label text-muted small px-2 w-auto">Leave a review!</legend> <br>
                                {% for field in form %}
                                    {{ field }}
                                {% endfor %}
                        </fieldset>
                        <div class="mt-4">
                            <button class="btn btn-success" type="submit">Publish</button>
                        </div>
                    </form>
                </div>
                <div class="row col-10">        
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Score</th>
                                <th scope="col">Average: {{ average }}</th>
                            </tr>
                        </thead>
                        {% for review in product.review_set.all %}
                        <tbody>
                            <tr>
                                <td>{{ review.name }}</td>
                                <td>{{ review.score }}/5</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %} 