{% extends "base.html" %}
{% load static %}

{% block extra_header %}Shop{% endblock %}
{% block extra_subheader %}Find the books you need at Dino's{% endblock %}

{% block content %}
    <!-- Content -->
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="image-container my-5">
                        <!-- Product image-->
                        {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top" src="{{MEDIA_URL}}noimage.PNG" alt="{{ product.name }}"/>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col">
                    <div class="product-details-container mb-5 mt-md-5">
                        <p class="mb-0">{{ product.name }}</p>
                        <p class="mb-2 text-muted">{{ product.author }}</p>
                        <p class="lead mb-2 text-left font-weight-bold">${{ product.price }}</p>
                        <p class="mb-0 text-left font-weight-normal">{{ product.description }}</p>
                        {% if product.category %}
                        <p class="small mt-1 mb-0 text-muted">Category: {{ product.category }}</p>
                        {% endif %}
                        <div class="mt-2">
                            
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row mb-2">
                                    <div class="col-12">
                                        <p class="mt-3"><strong>Quantity:</strong></p>
                                        <div class="form-group col-5 col-md-2">
                                            <div class="input-group input-group-{{ product.id }}">
                                                <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                                    name="quantity" value="1" min="1" max="{{ product.stock }}"
                                                    data-item_id="{{ product.id }}">
                                                <div class="input-group-append">
                                                    <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                        data-item_id="{{ product.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                        
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col{% if s %}-12 mt-2{% endif %}">
                                        <a href="{% url 'products' %}" class="btn btn-outline-dark  mt-5">
                                            <span class="">Keep Shopping</span>
                                        </a>

                                        {% if product.stock > 0 %}
                                        <input type="submit" class="btn btn-success mt-5" value="Add to Bag">
                                        {% else %}
                                        <button class="btn btn-secondary mt-5 mr-2" href="#">Out of stock</button>
                                        {% endif %}
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
    
                            {% if request.user.is_authenticated %}
                            <button class="btn btn-outline-dark mt-auto mr-2" href="#">Add to wishlist</button>
                            {% endif %}

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %} 